article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


html{
  font-size: 16px;
}

body {
  background: #4e59dc;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

/* DESKTOP ICONS */

.desktopIcons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: absolute; top: 0; left: 0;
  z-index: 10;
}

.desktopIcons img {
  height: 50px;
  margin-top: 20px;
  width: 50px;
}

.iconText {
  color: #ffffff;
  font-family: 'Barlow', sans-serif; 
  font-size: 11px;
  margin: 0;
  padding: 5px 0;
  width: 75px;
}

/* INSTRUCTIONS BUTTON */

.instructions {
  background: #4e59dc;
  border: none;
  height: 60px;
  margin-top: 10px;
  width: 60px;
}

.instructions img {
  margin-top: 0;
}

/* INSTRUCTIONS POPUP */

.instructionsContainer {
  background: #e5e5f9;
  box-shadow: 3px 3px 10px #a9a9a9;
  color: #046271;
  font-family: 'Barlow', sans-serif; 
  font-size: 16px;
  margin: 0 auto;
  position: absolute; top: 200px; right:0; left: 0;
  width: 500px;
  z-index: 40;
}

.popupBar {
  background-image: linear-gradient(to right, #046271, #157088, #2b7e9f, #438bb6, #5e98cc, #76a2d7, #8dace2, #a3b6ec, #b6c1ef, #c7cdf3, #d7d9f6, #e6e6fa);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.popupBar p {
  color: #e6e6fa;
  margin: 0;
}

.instructionsText {
  padding: 20px;
}

.ok {
  margin-bottom: 20px;
}

/* WRAPPER */

.wrapper {
  box-shadow: 3px 3px 10px black;
  cursor: url('./Assets/cursor.png'),
  default;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  z-index: 20;
}

/* BAR ON TOP OF SEARCH ENGINE */

.tabBar {
  background-image: linear-gradient(to right, #1a2da4, #0046a6, #005499, #005c84, #046271);
  height: 30px;
  width: 100%;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin: 0 5px;
  padding: 5px;
}

path {
  fill: #e6e6fa;
}

.easterEgg {
  background: #046173;
  border: none;
}

/* SEARCH ENGINE */

.searchEngine {
  background: #cabbe8;
  height: 80vh;
  position: relative;
  width: 100%;
}

h1 {
  color: #046271;
  font-family: 'Nova Flat', cursive;
  font-size: 5.5rem;
  text-shadow: 3px 3px 5px #4e59dc;
}

.inputsContainer {
  margin: 0 auto;
  width: 40%;
}

.userInput input {
  color: #046271;
  background: #e6e6fa;
  border: 2px solid #4e59dc;
  border-radius: none;
  font-family: 'Barlow', sans-serif; 
  padding: 10px;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
}

.userOutput {
  background: #e6e6fa;
  border-top: none;
  list-style: none;
  text-align: left;
  width: 100%;
}

.userOutput button {
  border: none;
  color: #046271;
  font-family: 'Barlow', sans-serif; 
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

.userOutput button:focus{
  border: 1px dotted #046271;
}

.letterOrNumber {
  background: #cabbe8;
  color: #046271;
  font-family: 'Barlow', sans-serif; 
  font-size: 14px;
  text-align: center;
}

/* WIKI POPUP */

.wikiPopup {
  background: #4e59dc;
  box-shadow: 3px 3px 10px darkgray;
  color: lavender;
  font-family: 'Barlow', sans-serif;
  height: 150px;
  position: absolute; top: 175px; right:0; left: 0;
  margin: 0 auto;
  width: 400px;
}

.wikiMessage {
  margin-top: 40px;
}

.wikiMessage a {
  color: lavender;
}

/* ERROR MESSAGE POPUP */

.errorPopup {
  background: lavender;
  box-shadow: 3px 3px 10px darkgray;
  font-family: 'Barlow', sans-serif;
  height: 175px;
  margin: 0 auto;
  position: absolute; top: 175px; right:0; left: 0;
  width: 400px;
}

.topBanner {
  background-image: linear-gradient(to left, #cabbe8, #b9a7e6, #a694e3, #9081e1, #786fdf, #5e6cda, #4069d4, #0066ce, #006abc, #006aa4, #006789, #046271);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.topBanner p {
    margin: 0;
}

.error{
    color: #e6e6fa;
}

.x {
    background: #e6e6fa; 
    color: #046271;
    font-weight: bold;
    padding: 0 5px;
}

.errorMessage {
    padding-left: 10px;
}

/* FOOTER */

footer {
  align-items: center;
  background: #e6e6fa;
  font-family: 'Nova Flat', cursive;
  display: flex;
  height: 6vh;
  justify-content: space-between;
  position: fixed; bottom: 0;
  width: 100%;
  z-index: 30;
}

.startButton {
  align-items: center;
  border: 1px solid darkgray; 
  box-shadow: 1px 1px 3px darkgray;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
}

.startButton:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2N88ODBf3l5eQbG/////3/48CEDAF5KCp65uusVAAAAAElFTkSuQmCC) repeat;
  border-top: transparent;
  border-left: transparent;
  border-bottom: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  box-shadow: inset 1.5px 1.5px 2px 0px rgba(0, 0, 0, 0.9);
}

.logo {
  margin-right: 10px;
  padding-left: 5px;
  width: 30px;
}

.start {
  margin: 0;
  padding-right: 5px;
}

/* START MENU */

.startMenu {
  background: #e6e6fa;
  border-bottom: 2px solid #a9a9a9;
  display: flex;
  height: 275px;
  position: fixed; bottom: 42px; left: 0;
  width: 200px;
  z-index: 50;
}

.startMenu.hide {
  transform: translate3d(0, 100vh, 0);
}

.startMenu.show {
  overflow: hidden;
  transform: translate3d(0vh, 0, 0);
  z-index: 50;
}

.sideBanner {
  background: linear-gradient(#cabbe8, #046271);
  height: 275px;
  margin: 3px 0 3px 3px;
  width: 20px;
}

.startMenu ul {
  list-style: none;
  padding-left: 30px;
}

.startMenu ul li {
  padding: 10px 0;
}

.startMenu ul li a {
  text-decoration: none;
}

.startMenu ul li a:hover {
  color: #4e59dc;
  border-bottom: 1px solid #4e59dc;
  padding-bottom: 5px;
}

.startMenu ul li, 
.startMenu ul li a {
  color: #046271;
}

.datamuse {
  border-top: 1px solid darkgray;
  line-height: 1.8;
  margin-right: 20px;
  margin-top: 10px;
}  

.clock {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2N88ODBf3l5eQbG/////3/48CEDAF5KCp65uusVAAAAAElFTkSuQmCC) repeat;
  border-top: transparent;
  border-left: transparent;
  border-bottom: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  box-shadow: inset 1.5px 1.5px 2px 0px rgba(0, 0, 0, 0.9);
  margin-right: 20px;
  width: 112px;
}

.clock p {
  margin: 0;
  padding: 3px;
  text-align: center;
}

/******* MEDIA QUERIES *********/

@media (max-width: 733px) {
    h1 {
    font-size: 5rem;
  }

  .inputsContainer {
    width: 80%;
  }
}

@media (max-width: 698px) {
  .userOutput li {
    color: #046271;
    font-family: 'Barlow', sans-serif;
    font-size: 0.75rem;
    padding-left: 10px;
    padding-bottom: 5px;
  }
}

@media (max-width: 669px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 578px) {
  .inputsContainer {
    width: 65%;
  }
}

@media (max-width: 565px) {
  .userInput input {
    font-size: 0.75rem;
  }
}


@media (max-width: 539px) {
  h1 {
    font-size: 3rem;
  }
}


@media (max-width: 420px) {
  h1 {
    font-size: 2rem;
  }

  .inputsContainer {
    width: 80%;
  }

  .searchEngine {
    height: 65vh;
  }

  .startMenu{
    bottom: 34px;
  }

  .hide{
    visibility: hidden;
  }

  .copied{
    position: absolute; bottom: 0;
  }

  .instructionsContainer {
    top: 100px;
    width: 275px;
  }

  .blankIcon{
    display: none;
  }

  .iconText{
    font-size: 14px;
    padding: 0;
  }

  .desktopIcons {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    position: absolute; bottom: -70px; left: 0;
    z-index: 10;
  }

  .errorPopup {
    width: 275px;
    top: 100px; 
  }

  .wikiPopup {
    width: 275px;
    top: 100px; 
  }
}